.upgrade{
    .first-container__left{
        padding-right: 15rem;
    }
    .first-container{
        padding-top: 15.2rem;
        background: white;
    }
    .first-container__title-big{
        margin-top: 3.6rem;
    }
    .first-container__react{
        margin-left: 0;
        margin-top: 2.4rem;
        margin-left: 8.1rem;
        line-height: 1.37;
        margin-bottom: 6rem;
    }
    .first-react__item{
        top: 0;
    }
    .first-container__time{
        padding-right: 4rem;
        .icon-comment{
            padding-top: 1rem;
            font-size: 1.6rem;
            margin-right: 2.8rem;
            
        }
    }
    .first-container__right{
        margin-top: 9rem;
        padding-top: 5.5rem;
        padding-left: 6.6rem;
        padding-bottom: 5.8rem;
        position: relative;
        &::after{
            
            border: 1.9rem solid transparent;
    border-top: 1.9rem solid #F3F3F3;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 9.3%;
    top: auto;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: 0rem;
            
    bottom: 33%;
}
        .first-form__title2{
            margin-bottom: 4.6rem;
        }
    }
    .first-player__wrapper{
        right: auto;
        left: -28rem;
        top: 17.5rem;
    }
    .first-container__player{
        background-image: url(../img/new-img/upgrade-play.png);
        
    }
     .first-container__dot2 {
    top: 5.4rem;
    right: 53.8%;
}
    .first-container__description{
        margin-top: 5.4rem;
        &:last-child{
             margin-top: 3.7rem;
        }
    }
    .first-container__description-item{
        max-width: 25rem;
    }
    .first-container__description-item:first-child{
        margin-right: 6.4rem;
    }
    .first-container__description:nth-of-type(2){
        margin-top: 3rem;
    }
    .team-second__paper.paper2{
        margin: 0;
        top: auto;
        margin-top: 7.2rem;
        margin-left: 0.5rem;
        position: relative;
    }
    .team-second__paper.paper2 .team-paper__box{
        padding-top: 5.6rem;
        padding-left: 9.5rem;
        padding-right: 6.5rem;
        padding-bottom: 8.5rem;
    }
    .first-complex__hand {
    position: absolute;
    z-index: -1;
    top: -44.4rem;
    right: 49.7rem;
    width: 44rem;
}
    .info-fifth__container .second-content__form{
        bottom: auto;
    }
    .info-fifth__container.fifth-container{
        margin-top:13.8rem;
    }
}
.upgrade-provider__img{
    position: absolute;
    left: -47rem;
    top: 49rem;
    width: 38.5%;
    img{
        width: 100%;
    }
}
.upgrade-paper__left{
    width: 65%;
    padding-right: 6rem;
    .trans-title__big{
        margin-top: 2.4rem;
        display: block;
        color: #0089ff;
    }
}
.upgrade-paper__right{
    width: 35%;
    padding-top: 1.3rem;
    p{
        color: #000000;
font-family: "Roboto";
font-size: 1.8rem;
font-weight: 200;
line-height: 2.6rem;
        letter-spacing: -0.001rem;
        text-shadow: 0 0;
        padding-bottom: 2.7rem;
    }
}
.upgrade-paper__text{
    color: #1e1e1e;
font-family: "Roboto";
font-size: 2.8rem;
font-weight: 200;
line-height: 3.9rem;
    text-shadow: 0 0;
    margin-top: 3.8rem;
    padding-left: 0.4rem;
    letter-spacing: -0.04rem;
}
.upgrade-paper__img{
    margin-bottom: 1rem;
    width: 4.8rem;
    img{
        width: 100%;
    }
}
.upgrade-second{
    position: relative;
}
.upgrade-infrastructure{
    margin-top: 12rem;
    position: relative;
    .fifth-form__bottom{
        margin-top: 3.4rem;
    }
    .info-fifth__container .fifth-form__comment{
        left: -8rem;
        max-width: 43rem;
        padding-top: 2.3rem;
    }
    .rent-scenario__btn{
            position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;    max-width: 39.2rem;
    height: 7.4rem;
    font-size: 2rem;
    padding-top: 2.3rem;
        margin-top: -3.3rem;
        margin-left: 7.4rem;
    }
    .second-content__form{
        
        &::after{
              content: '';
    position: absolute;
    left: 5rem;
    border: 1.8rem solid transparent;
    border-top: 1.7rem solid #F6F6F6;
    top: 0rem;
    display: block;
    -webkit-border-bottom-left-radius: 3rem;
    -moz-border-radius-bottomleft: 3rem;
    border-bottom-left-radius: 3rem;
    width: auto;
    top: 0;
    left: 13rem;
        }
          
    }
}
.upgrade-infrastructure__box{
    padding-left: 0.2rem;
    max-width: 50rem;
    
    .trans-title__small2{
        color: #0089ff;
        font-family: "Gotham Pro";
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        text-transform: uppercase;
        display: block;
        letter-spacing: -0.1rem;
        margin-bottom: 3rem;
    }
}
.upgrade-infrastructure__text{
    color: #000000;
font-family: "Roboto";
font-size: 1.8rem;
font-weight: 200;
    display: block;
line-height: 2.4rem;
    text-shadow: 0 0;
    margin-top: 2.9rem;
    padding-left: 0.4rem;
}
.upgrade-infrastructure__list{
    margin-top: -28.8rem;
    margin-left: 0.3rem;
    .info-top__triangle::after{
        width: 19%;
    }
    .info-top__triangle::before{
        width: 81%;
    }
    li.item2{
        width: calc(50% - 2rem);
        list-style-type: none;
        margin-top: 0;
        float: left;
        &:first-child{
            margin-left: calc(50% + 2rem);
            margin-top: 0 !important;
        }
         &:nth-of-type(2n){
            margin-right: 4rem;
            margin-top: 3.9rem;
            
          
        }
        &:nth-of-type(2n + 1){
          margin-top: 3.9rem;

        }
        &:nth-of-type(2){
            
            margin-top: 12.7rem ;
            .info-container__wrapper{
                padding-bottom: 6rem;
            }
        }
        &:nth-of-type(n + 5):nth-child(odd){
            margin-top: -13.3rem ;
        }
//        &:nth-of-type(7){
//            margin-top: -13.3rem ;
//        }
        &:last-child{
            float: right;
            margin-right: 0;
        }
        .info-container__wrapper{
            padding-top: 2rem;
            padding-top: 5.7rem;
            padding-left: 7.8rem;
            padding-right: 7rem;
            padding-bottom: 6.8rem;
            min-height:1px;
        }
    }
    .info-container__text{
        padding-left: 0.2rem;
        letter-spacing: 0.008rem;
    }
}
.upgrade-infrastructure__title{
    color: #0089ff;
font-family: "Gotham Pro";
font-size: 2.5rem;
font-weight: 700;
line-height: 3.1rem;
text-transform: uppercase;
    letter-spacing: -0.11rem;
}
.upgrade-infrastructure__img{
    position: absolute;
       top: -15rem;
    left: -39rem;
    z-index: 1;
    width: 27.5%;
    img{
        width: 100%;
    }
}
.upgrade-infrastructure__img2{
    position: absolute;
    bottom: -3.2rem;
    z-index: 3;
    right: -28.8rem;
    width: 27.6%;
    img{
        width: 100%;
    }
}
.upgrade-result{
    margin-top: 16.2rem;
    margin-bottom: 15.9rem;
}
.upgrade-result__list{
    margin-left: 0.5rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    li.item2{
        width: calc(25% - 2.9rem);
        margin-top: 2.6rem;
    }
    .info-container__wrapper{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
        min-height: 22.5rem;
    }
     .info-top__triangle::after{
        width: 23%;
    }
    .info-top__triangle::before{
        width: 80%;
    }
    .info-container__text{
        color: #000000;
font-family: "Roboto";
font-size: 1.5rem;
font-weight: 200;
line-height: 2.2rem;
        margin-top: 0.1rem;
        letter-spacing: 0.01rem;
        text-shadow: 0 0;
    }
    .info-plan__number{
        z-index: 1;
        bottom: -3.6rem;
    }
}
.upgrade-effect{
    .fifth-item__wrapper{
        min-height: 73.3rem;
        padding-left: 13.7rem;
        padding-top: 10.3rem;
        padding-right: 18rem;
        display: block;
        padding-bottom: 5rem;
    }
    .item1{
        .fifth-item__wrapper{
            background-image: url(../img/new-img/upgr-slide.png);
        }
    }
    .item2{
        .fifth-item__wrapper{
            background-image: url(../img/new-img/upgr-slide.png);
        }
    }
    .item3{
        .fifth-item__wrapper{
            background-image: url(../img/new-img/upgr-slide.png);
        }
    }
    .fifth-container__item{
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 138rem;
    }
    .fifth-container__slider{
        margin-top: 1rem;
        .trans-title__big{
            color: white;
            span{
                color: #0089ff;
                display: block;
            }
        }
    }
    .fifth-container__slider .slick-list {
    padding-left: 21.2% !important;

}
    .fifth-container__slider .slick-dots{
        top: -7.7rem;;
        bottom: auto;
        margin-top: 0;
        left: 22.85%;
    }
}
.upgrade-effect__text2{
    color: #ffffff;
font-family: "Roboto";
font-size: 2.8rem;
font-weight: 200;
line-height: 3.8rem;
    text-shadow: 0 0;
    width: 51%;
    padding-left: 14rem;
}
.upgrade-effect__text1{
    color: #ffffff;
font-family: "Roboto";
font-size: 2rem;
font-weight: 200;
line-height: 3rem;
    text-shadow: 0 0;
    width: 49%;
    padding-top: 0.7rem;
}
.upgrade-effect__box{
    display: flex;
    margin-top: 11.8rem;
    padding-left: 0.3rem;
    
}
.upgrade-vista__text{
    color: #ffffff;
font-family: "Roboto";
font-size: 1.8rem;
font-weight: 200;
line-height: 2.6rem;
     width: 45%;
        padding-left: 3.5rem;
        padding-top: 1.9rem;
    letter-spacing: 0.01rem;
    padding-right: 18rem;
}
.upgrade-vista{
    margin-top: 11rem;
    position: relative;
}
.upgrade-vista__box{
    display: flex;
    .trans-title__small{
        color: white;
    }
    .trans-title__big{
        color: #0089ff;
        display: block;
        margin-top: 1rem;
    }
    .trans-title{
        width: 55%;
    }
    
    
}

.upgrade-vista__img{
    margin-bottom: 2.5rem;
}
.upgrade-vista__list{
    margin-top: 7.8rem;
    .info-wish__item{
        margin-top: 0;
        margin-bottom: 4rem;
        width: calc(50% - 2rem);
    }
}
.upgrade-vista__pict{
    position: absolute;
    left: -72rem;
    top: 28.7rem;
    width: 84.1%;
    img{
        width: 100%;
    }
}
.upgrade-vista__second{
    margin-top:10.2rem;
    margin-bottom: 11rem;
    .trans-title__small{
        color: #0089ff;
    }
    .trans-title__big{
        color: white;
        display: block;
        margin-top: 1.8rem;
    }
    .upgrade-vista__text{
        max-width: 34rem;
        padding-left: 0;
        padding-top: 0;
        margin-left: 53rem;
        margin-top: -4rem;
        padding-right: 0;
        width: 100%;
        .upgrade-vista__img{
            margin-bottom: 3.5rem;
            margin-left: 0.5rem;
        }
    }
    .info-more__list{
        margin-top: 0;
        margin-top: -25.1rem;
        .info-container__item{
            margin: 0;
            &:first-child{
                margin-left: calc(66.666% + 2.7rem);
            }
            &:nth-of-type(2){
                margin-top: 7.6rem;
            }
            &:nth-of-type(3){
                margin-top: 17.6rem;
            }
            &:nth-of-type(4){
                margin-top: 4.1rem;
            }
            &:nth-of-type(5){
                margin-top: -3.9rem;
            }
            &:nth-of-type(6){
                margin-top: 4rem;
            }
            &:nth-of-type(7){
                margin-top:-7.4rem;
            }
        }
        .info-container__text{
            font-size: 1.8rem;
            padding-left: 0.5rem;
            line-height: 2.4rem;
        }
  .info-container__wrapper{
            padding-top: 2.7rem;
        }
    }
}
.upgrade-effect{
    margin-bottom: 10.3rem;
}
.upgrade-vista__img{
    width: 4.8rem;
    img{
        width: 100%;
    }
}
.upgrade-leader{
    .trans-title__very-big{
        margin-top: 0.7rem;
    }
}
.upgrade-leader__text{
    color: #000000;
    font-family: "Roboto";
    font-size: 1.8rem;
    font-weight: 200;
    text-shadow: 0 0;
    line-height: 2.6rem;
    padding-left: 0.4rem;
    max-width: 44rem;
    margin-top: 0.8rem;
    letter-spacing: 0.01rem;
}
.upgrade-leader__list{
    margin-top: -8.5rem;
    .info-target__title{
        letter-spacing: -0.055rem;
    }
    .info-container__text{
        margin-top: 3rem;
    }
    .info-container__wrapper{
        min-height: 1px;
        padding-bottom: 4.1rem;
    }
    .info-container__item{
        &:first-child{
            margin-top: 13.9rem;
        }
        &:nth-of-type(2){
            margin-top: 8.6rem;
        }
        &:nth-of-type(4){
            margin-top: 4rem;
        }
        &:nth-of-type(5){
            margin-top:-7rem;
        }
        &:nth-of-type(6){
            margin-top:-14.9rem;
        }
    }
}
body{
    &nbsp{
        display: none;
    }
}
.upgrade-company{
    margin-top: 5.1rem;
    .trans-title__big{
        display: block;
        margin-top: 1.8rem;
    }
    .upgrade-leader__text{
        max-width: 65rem;
        margin-top: 3rem;
        line-height: 2.5rem;
        padding-left: 0.5rem;
    }
    .info-container__text{
        padding-left: 0;
        margin-top: 3.2rem;
        letter-spacing: 0.01rem;
        text-shadow:  0 0;
    }
}
.upgrade-company__item{
    padding: 3rem;
    background: url(../img/new-img/upgr-item2.png);
    background-repeat: no-repeat;
    width: calc(50% - 2.1rem);
    padding-left: 8rem;
    padding-top: 7.3rem;
    padding-right: 7rem;
    border-radius: 1rem;
    padding-bottom: 7.3rem;
    box-shadow: 0 2.7rem 20.7rem rgba(0, 0, 0, 0.08);
    position: relative;
    background-position: left top;
    &::after{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: #f7f7f7;
    }
    &:first-child{
        margin-top: 13.4rem;
    }
}
.upgrade-company__box{
    display: flex;justify-content: space-between;
    align-items: flex-start;
    margin-top: -6.3rem;
    margin-left: 0.5rem;
}
.upgrade-slider{
    margin-top: 13.5rem;
    .slick-track{
        padding-top: 5rem;
    }
    .first-container__title-small{
        top: -5.5rem
    }
    .upgrade-slider__title{
        color: #010101;
font-family: "Gotham Pro";
font-size: 3.1rem;
font-weight: 700;
line-height: 3.8rem;
text-transform: uppercase;
        display: block;
        position: relative;
        padding-left: 0.5rem;
        top: -2.8rem;
       letter-spacing: -0.19rem;
    }
    .first-container__title-big{
        color: #0089ff;
        margin-top: 0;
        letter-spacing: -0.36rem;
        position: relative;
        top: -1.6rem;
    }
    .first-container__title{
        margin-bottom: 0;
        padding-bottom: 2.8rem;
    }
    p{
        max-width: 79rem;
        text-shadow:  0 0;
    }
    .rent-slider__right img{
        width: 100%;
        max-height: none;
        height: auto;
    }
    .rent-slider__right{
        max-height: 66.4rem;
        overflow: hidden;
        border-radius: 1rem;
    }
}
.upgrade-activity{
    margin-top: 11rem;
    .info-bottom__item:nth-of-type(4){
       
    }
    .info-bottom__item:nth-of-type(2){
        margin-top: -2.6rem;
    }
    .info-bottom__item:nth-of-type(3){
        margin-top: -10.5rem;
    }
    .info-bottom__item:nth-of-type(4){
        margin-top: -3.3rem;
    }
    .info-bottom__item:nth-of-type(5){
        margin-top: -11.1rem;
    }
}
.upgrade{
    .eight-container{
        background: none;
        padding-top: 5rem;
        padding-bottom: 18.3rem;
    }
    .eight-container .fifth-container{
        padding-top: 10.3rem;
    }
    .eight-container .second-form__left{
        box-shadow: none;
    }
   .eight-container  .fifth-container .fifth-container__form-wrap{
        padding-top: 2.3rem;
    }
    .rent-form__bottom .fifth-form__img img{
        width: 100%;
        position: static;
        margin-left: 0;
    }
     .rent-form__bottom .fifth-form__img{
        width: 42%;
         margin-left: -6.7rem;
    }
    .rent-form__bottom .second-form__wrap{
        padding-bottom: 0;
    }
    .eight-container .fifth-form__bottom{
        margin-top: 4.3rem;
    }
    .rent-form__bottom .fifth-form__comment{
        padding-left: 2rem;
        padding-top: 3.6rem;
    }
}

@media screen and (max-width: 1279px){
    .upgrade-infrastructure__list li.item2{
        margin: 0 !important;
        margin-bottom: 4rem !important;
    }
    .upgrade-infrastructure__list{
        justify-content: space-between;
        display: flex;
        margin-top: 5rem;
        flex-wrap: wrap;
    }
    .upgrade-infrastructure__box{
        max-width: none;
        br{
            display: none;
        }
    }
    .upgrade-infrastructure .rent-scenario__btn{
        margin-top: 3rem;
        margin-left: 0.5rem;;
    }
    .upgrade-vista__second .info-more__list{
        margin-top: 5rem;
    }
    .upgrade-leader__list{
        margin-top: 5rem;
    }
    .upgrade-company__box{
        margin-top: 5rem;
        align-items: stretch;
    }
    .upgrade-company__item:first-child{
        margin-top: 0;
    }
    .upgrade-activity .info-bottom__item:nth-of-type(5){
        margin-right: calc(33.3333% + 1.4rem) !important;
    }
    .upgrade br{
        display: none;
    }
    .upgrade .team-second__paper.paper2 .team-paper__box{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .upgrade .first-container__right{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .upgrade .first-container__left{
        padding-right: 3rem;
    }
    .upgrade-infrastructure .info-fifth__container .fifth-form__comment{
        left: -2rem;
        
    }
    .upgrade-effect .item1 .fifth-item__wrapper{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .upgrade-vista__text{
        padding-right: 4rem;
        width: 40%;
    }
    .upgrade-vista__box .trans-title{
        width: 60%;
    }
    .upgrade-vista__list .info-wish__item{
        min-height: 1px;
        background-size: cover;
    }
    .upgrade-vista__second .upgrade-vista__text{
        margin-left: 0;
        max-width: none;
        margin-top: 3rem;
    }
    .upgrade-company__item{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .upgrade .rent-form__bottom .fifth-form__img img{
        left: 0;
        margin-left: 3rem;
    }
    .upgrade .first-player__wrapper{
        left: -16rem;
    }
}
@media screen and (max-width: 1100px){
    .upgrade-result__list li.item2{
        width: calc(50% - 2rem)
            ;margin-top: 4rem;
    }
    .upgrade-result__list{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1023px){
    .upgrade-provider__img img{
        display: none;
    }
    .upgrade .first-player__wrapper{
        left: auto;
        right: 2rem;
        top: 3rem;
    }
    .upgrade .first-container__left{
        padding-right: 15rem;
    }
    .upgrade .first-container__react{
        margin-left: 0;
    }
    .upgrade .first-container__right{
        margin-top: 2rem;
    }
    .upgrade-infrastructure__list li.item2 .info-container__wrapper{
        padding-top: 3rem !important;
        padding-bottom: 4rem !important;
    }
    .upgrade .team-second__paper.paper2{
        margin-left: 0;
    }
    .upgrade-infrastructure{
        margin-top: 8rem;
    }
    .upgrade .info-fifth__container.fifth-container{
        margin-top: 8rem;
    }
    .upgrade-effect .fifth-container__slider .slick-list{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .upgrade-effect{
        padding-top: 10rem;
    }
    .upgrade-result{
        margin-top: 11rem;
        margin-bottom: 11rem;
    }
    .upgrade-effect__text2{
        padding-left: 5rem;
    }
    .upgrade-vista__second{
        margin-bottom: 5rem;
    }
    .upgrade-effect{
        margin-bottom: 5rem;
    }
    .upgrade-infrastructure__img2{
        display: none;
    }
    .upgrade-infrastructure__list{
        margin-left: 0;
    }
    .upgrade-vista{
        margin-top: 7rem;
    }
    .upgrade-vista__second{
        margin-top: 5rem;
    }
    .upgrade-activity{
        margin-top: 18rem;
    }
    .upgrade-leader__text{
        max-width: none;
    }
    .upgrade-leader__list{
        margin-left: 0;
    }
    .upgrade-company__box{
        margin-left: 0;
    }
    .fifth-container .second-form__wrap{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .upgrade-infrastructure .info-fifth__container .fifth-form__comment{
        max-width: 44rem;
    }
    .upgrade-company .upgrade-leader__text{
        max-width: none;
    }
    .upgrade-effect .fifth-container__slider .slick-dots{
        top: -5rem;
    }
    .first-container__dot2{
        display: none;
    }
}
@media screen and (max-width: 850px){
    .upgrade .fifth-container .second-form__title{
        font-size: 4rem;
    }
    .upgrade-infrastructure .fifth-form__bottom{
        margin-top: 7rem;
    }
    .upgrade-result__list .info-container__wrapper{
        min-height: 20rem;
    }
    .upgrade .eight-container .fifth-form__bottom{
        margin-top: 7rem;
    }
    .upgrade-infrastructure .info-fifth__container .fifth-form__comment{
        padding-top: 0;
    }
    .upgrade .first-container__title-big{
        font-size: 4rem;
    }
}
@media screen and (max-width: 767px){
    .upgrade .first-container__left{
        padding-right: 18rem;
    }
    .upgrade .first-container__description{
        max-width: 56rem;
        br{
            display: none;
        }
    }
    .upgrade .first-container__description-item:first-child{
        padding-right: 0;
    }
    .upgrade .first-container__right{
        margin-top: 5rem;
    }
    .upgrade .team-second__paper.paper2{
        margin-top: 5rem;
    }
    .upgrade-infrastructure{
        margin-top: 5rem;
    }
    .upgrade-infrastructure .rent-scenario__btn{
        margin-top: 1rem;
        margin-left: 0;
    }
    .upgrade .info-fifth__container.fifth-container{
        margin-top: 5rem;
    }
    .upgrade-infrastructure .fifth-form__bottom{
        position: static;
        margin-top: 1rem;
    }
    .upgrade-result{
        margin-top: 0;
    }
    .upgrade .info-fifth__container .second-content__form{
        margin-bottom: 5rem;
    }
    .upgrade-result__list{
        margin-left: 0;
    }
    .upgrade-effect .item1 .fifth-item__wrapper{
        background-size: cover;
    }
    .upgrade-effect .item1 .fifth-item__wrapper{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 4rem;
    }
    .upgrade-effect .fifth-container__slider .slick-list {
    padding-left: 0rem !important;
    padding-right:0rem !important;
}
    .upgrade-effect__box{
        margin-top: 6rem;
    }
    .upgrade-effect .fifth-item__wrapper{
        min-height: 56rem;
    }
    .upgrade-vista__box{
        display: block;
    }
    .upgrade-vista__text{
        padding-left: 0;
        padding-right: 0
            ;width: 100%;
    }
    .upgrade-vista__box .trans-title{
        width: 100%;
    }
    .upgrade-vista__second{
        margin-top: 0;
    }
    .upgrade-vista{
        margin-top: 5rem;
    }
    .upgrade-vista__list{
        margin-top: 5rem;
    }
    .upgrade-vista__second{
        margin-bottom: 3rem;
    }
    .upgrade-effect{
        margin-bottom: 3rem;
    }
    .upgrade-company{
        margin-top: 1rem;
    }
    .upgrade-slider{
        margin-top: 6rem;
    }
    .upgrade-slider .first-container__title{
        padding-bottom: 0;
    }
    .upgrade-slider p{
        max-width: none;
    }
    .upgrade-activity{
        margin-top: 0;
    }
    .upgrade-slider .rent-slider{
        margin-bottom: 5rem;
    }
    .upgrade-effect{
        padding-top: 7rem;
    }
    .upgrade-result{
        margin-bottom: 7rem;
    }
    .info-activity__list{
        margin-top: 3rem;
    }
    .upgrade .eight-container{
        padding-top: 1rem;
    }
    .upgrade .eight-container .fifth-container .fifth-container__form-wrap{
        margin-top: 0;
    }
    .upgrade .eight-container .fifth-form__bottom{
        margin-top: 3rem;
    }
    .upgrade .eight-container{
        padding-bottom: 21rem;
    }
    .upgrade .eight-container .fifth-container{
        padding-top: 5rem;
    }
    .upgrade-paper__left{
        padding-right: 3rem;
    }
    .upgrade-infrastructure__title{
        font-size: 2.1rem;
    }
    .upgrade-infrastructure__list .info-container__text{
        white-space: normal;
    }
    .upgrade-slider .upgrade-slider__title{
        padding-left: 0;
    }
}
@media screen and (max-width: 600px){
    .upgrade-effect__box{
        display: block;
    }
    .upgrade-company__item{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .upgrade-effect__box{
        margin-top: 3rem;
    }
    .upgrade-effect__text1{
        max-width: none;
        width: 100%;
        margin-bottom: 3rem;
    }
    .upgrade-effect__text2{
        padding-left: 0;
        width: 100%;
    }
    .upgrade-paper__left{
        width: 100%;
        padding-right: 0;
    }
    .upgrade-paper__right{
        width: 100%;
    }
    .upgrade .team-second__paper.paper2 .team-paper__box{
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .upgrade .first-container__right{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .upgrade .first-player__wrapper{
        position: static;
    }
    .upgrade .first-container__left{
        padding-right: 0;
    }
    .upgrade .first-container__react{
        display: flex;
    }
    .upgrade .first-react__item{
        padding-right: 3rem;
    }
    .upgrade .first-player__wrapper{
        min-width: 14rem;
    }
    .upgrade-vista__list .info-wish__item{
        width: 100%;
    }
    .upgrade-slider .rent-slider__right{
        max-height: 50rem;
    }
    .upgrade .info-slider .rent-slider__left{
        margin-bottom: 3rem;
    }
    .upgrade-company__item{
        width: 100%;
        margin-bottom: 3rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .upgrade-company__box{
        flex-wrap: wrap;
    }
    .upgrade .team-second__paper.paper2 .team-paper__box{
        padding-bottom: 4rem;
    }
    .upgrade-infrastructure .fifth-form__bottom{
        flex-direction: column-reverse;
    }
    .upgrade-infrastructure .info-fifth__container .fifth-form__comment{
        margin-left: 0;
        padding-right: 0;
        width: 100%;
        max-width: none;
        left: auto;
        margin-left: 0;
    }
    .upgrade{
        .info-fifth__container .fifth-form__img{
            width: 100%;
            max-width: 45rem;
        }
    }
    .upgrade-vista__second .info-more__list .info-container__text{
        padding-left: 0;
    }
    .upgrade .eight-container .fifth-form__bottom{
        flex-direction: column-reverse;
    }
    .upgrade .rent-form__bottom .fifth-form__comment{
        width: 100%;
        padding: 0;
    }
    .upgrade .rent-form__bottom .fifth-form__img img{
        margin-left: 0;
    }
    .upgrade .rent-form__bottom .fifth-form__img{
        width: 100%;
        max-width: 35rem;
    }
    .upgrade .first-container__right .first-form__title2{
        font-size: 2.8rem;
    }
}
@media screen and (max-width: 550px){
    .upgrade-vista__second .info-more__list .info-container__item{
        width: 100%;
    }
    .upgrade-leader__list .info-container__item{
        width: 100%;
    }
    .upgrade-activity .info-activity__list .info-bottom__item{
        width: 100%;
        margin-right: 0 !important;
    }
}
@media screen and (max-width: 500px){
    .upgrade .first-container__react{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 420px){
    .upgrade .first-container__title-big{
        font-size: 3.5rem;
        margin-top: 2rem;
    }
    .upgrade .first-container__description-item:first-child{
        margin-right: 0;
        width: 100%;
        max-width: none;
        
    }
    .upgrade .first-container__description-item{
        max-width: none;
        width: 100%;
    }
    .upgrade .team-second__paper.paper2 .team-paper__box , .upgrade .first-container__right, .info-fifth__container .second-content__form .second-form__wrap , .upgrade-effect .item1 .fifth-item__wrapper , .upgrade-company__item:first-child , .upgrade-company__item:last-child , .upgrade .rent-form__bottom .second-form__wrap , .upgrade-effect .fifth-container__item{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .upgrade-effect .item1 .fifth-item__wrapper{
        padding-top: 2rem;
    }
}

/*btn*/
.header-box__btn{
    &:hover{
        color: #010101;
        background: rgba(255,255,255,0);
        border: 0.1rem dotted #0288fe;
    }
    &:focus{
        border: 0.1rem dotted rgba(0,0,0,0.5);
        color: #010101;
    }
}
.slick-dots{
    li.slick-active{
        border: 1px solid #0288fe !important;
    }
    li:hover{
        border: 2px solid #0288fe;
        opacity: 1 !important;
    }
}
.button-hover.rent-scenario__btn{
    background-image: linear-gradient(to bottom, #309DFE, #0288FE) !important;
    &:hover{
        background-image: linear-gradient(to bottom, #63B6FF, #40A6FF) !important;
    }
    &::after{
        transition: 0.2s;
        top: 6.5% !important;
        background-color: #136DBC !important;
        border-radius: 1.5rem;
    }
    &:focus{
        background-image: linear-gradient(to bottom, #63B6FF, #40A6FF) !important;
        &::after{
            background-color: #2A8BDF !important;
        }
    }
}
.button-hover{
 
    span{
       text-shadow: -1px 0 0 rgba(0, 0, 0, 0.23) !important;
color: #c4e2f1 !important;
    }
    &::before{
        background-image: linear-gradient(to bottom, #309DFE, #0288FE) !important;
   
        
    }
    &::after{
        background-color: #136DBC !important;
        box-shadow: 0rem 0.7rem 1.6rem 0rem rgba(0, 0, 0, 0.15) !important;
    }
    &:hover{
        &::before{
            background-image: linear-gradient(to bottom, #63B6FF, #40A6FF) !important;
        }
        &::after{
            background-color: #2A8BDF !important;
            box-shadow: 0rem 0.7rem 1.6rem 0rem rgba(0, 0, 0, 0.15) !important;
            opacity: 1 !important;
        }
    }
    &:focus{
        &::before{
            background-image: linear-gradient(to bottom, #62B6FF, #40A6FF) !important;
        }
        &::after{
            top: 5% !important;
        }
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .upgrade-infrastructure__list li:nth-of-type(2n).item2{
        margin-right: 3.9rem;
    }
    .upgrade-infrastructure__list li:last-child.item2{
        margin-right: 0;
    }
    .trans {
        .first-time__text{
            display: block;
        }
    }
}
@-moz-document url-prefix() {
    .header{
        z-index: 2;
    }
    .team-document__text{
        background: #000F25;
    }
}
*|html[xmlns*=""] .trans-robots__text {
padding-right: 28rem;
}
::-webkit-full-page-media, :future, :root{ 
    .fifth-item__right{
        display: flex;
        align-items: stretch;
        .fifth-right__wrap{
            flex: 1 1;
            height: auto;
        }
    }
    
}
@media screen and (max-width: 1200px) and (min-width: 550px){
    .item-resize{
        display: flex;
        align-items: stretch;
        .info-container__wrapper{
            flex: 1 1;
            height: auto;
        }
    }
    .info-container__item.item2{
        display: flex;
        align-items: stretch;
        .info-container__wrapper{
            flex: 1 1;
            height: auto;
        }
    }
    .info-bottom__item{
        
        display: flex;
        align-items: stretch;
        .fourth-container__item-bg.bg2{
            flex: 1 1;
            height: auto;
        }
    }
    .rent .fourth-container__item{
        display: flex;
        align-items: stretch;
        .fourth-container__item-bg{
            flex: 1 1;
            height: auto;
        }
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px){
//    .upgrade .first-container__description{
//        margin-right: -100%;
//    }
//    .upgrade .first-container__description-item:first-child{
//        max-width: 50%;;
//        br{
//            display: none;
//            
//        }
//        width: 100%;
//    }
//    .upgrade .first-container__description-item{
//        max-width: 50%;;
//        br{
//            display: none;
//            
//        }
//        width: 100%;
//    }
    .upgrade .first-container__title-big{
        font-size: 3.9rem;
    }
}
@media screen and (max-width: 850px) and (min-width: 801px){
//    .upgrade .first-container__time{
//        margin-bottom: 10rem;
//    }
}
@media screen and (max-width: 420px){

      .rent-table__td{
        flex: 1 1;
    }
    .info .fifth-container .fifth-form__bottom{
        position: static;
    }
    .trans-solution__list i{
        min-width: 26px;
    }
    .upgrade .fifth-container .second-form__title{
        font-size: 3.4rem;
    }
}

/*end btn*/